@media (max-width: 700px){
    .dashboard{
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
    .dashboard_container-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dashboard_header{
        font-size: 1.5rem;
    }
    .dashboard_container-search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;

        
    }

   }



/* .dashboard{
    display: grid;
    grid-template-columns:3rem 2fr 2fr 2fr 3rem;
    grid-template-rows:10rem 10rem 10rem 1fr;
    grid-template-areas:
    ". game upperBlock newDeck ."
    ". header header header ."
    ". search search search ."
    ". public public public .";
    gap: .25rem;
}
    
.dashboard > :nth-child(1){

    justify-content: center;
    display: flex;
    align-items: center;
}
    
.dashboard_container-header{
    grid-area:header;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard_container-game{
    grid-area:game;
}
.dashboard_container-newDeck{
    grid-area:newDeck;
}   
.dashboard_container-public{
    grid-area:public;
}
.dashboard_container-upperBlock{
    grid-area:upperBlock;
}
.dashboard_container-search{
    grid-area:search;
    height: fit-content;
    z-index: 1;
}
 */
