@media screen and (max-width: 61.9rem) {
  .deck {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .deck_list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .deck_list-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .deck_container-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deck_header {
    font-size: 1.5rem;
  }
  .deck_container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
  }
  .card_list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .card_list-item {
    display: flex;
    gap: 0.25rem;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  .card_entry-image {
    margin-bottom: -27rem !important;
    position: relative;
  }
  .card_detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .card_preview {
    display: none;
    z-index: 5;
  }
}
