.search-form{
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 0.5rem;
  
}
.search-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}


.search-searchbar, .search-input{
  background: var(--dark);
  height: 2.5rem;
  border:none;

}

.search-searchbar{
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 1px solid white;
  width: 100%;

}
.search-input{
  border-radius: 0 0.5rem 0.5rem 0;
  width: 6rem;
  justify-content: center;
  align-items: center;
}
.search-provider-container{
  display: flex;
  flex-direction: column;
  width:auto;
   height: max(150px, 80vh);
}

.dashboard_searchContainer{
  position: relative;
}
.dashboard_searchContainer .search-provider-container{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}