.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 40%;
}
.card_preview {
    position:absolute;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    top:20px;
    left: 60%;
    width: 350px;
    min-height:550px;
}
.card_preview img {
    width:100%;
    height:auto;
    aspect-ratio: 2.5/3.5;
    object-fit: contain;
}
.deck_header-sub{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    writing-mode: vertical-rl;
  white-space: nowrap; 
  display: inline-block;
  border-left: 4px double rgba(255,255,255.80);
  padding-bottom: 2px; /* Optional */
}
.deck_list-categoryList{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.deck_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}