.Hero{
    background-color: var(--light-bg-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;

}
.Navigation{
    background-color: var(--dark-bg-color);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.Public{
    background: var(--dark-bg-color)
}