.dashboard_container > *{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.dashboard_container-sub-link{
    font-size: 3.5rem;
}
.dashboard_container-newDeck{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dashboard_container-newDeck:hover{
    background-color: linear-gradient(90deg,var(--med-bg-color),var(--light-bg-color));
}