.dashboard{
    background: var(--med-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard_container{
    overflow: hidden;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard_container-Public{
    display: flex;
    overflow: hidden;
    height: min(100%,150vh)
}