/* .dashboard{
    display: grid;
    justify-content: center;
    grid-template-columns:.25fr .5fr 2fr 2fr .5fr .25fr;
    grid-template-rows:5rem 10rem 20rem;
    grid-template-areas:
    ". . . . . ."
    ". upperBlock header header newDeck ."
    ". lowerBlock public public game . ";
    margin: 1%;
    gap:10px;
    
}
.dashboard>div{
    border: 1px solid black;
    border-radius:15px;
    box-shadow: 0 0 5px black, 0 0 5px var(--light-bg-color) inset;
    text-align: center;
    justify-content: center;
}



@media screen and (max-width:48rem){
    .dashboard{
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr)) ;
    grid-template-rows:200px 200px 200px;
    grid-template-areas:
    "game header upperBlock"
    "public header newDeck"
    " public lowerBlock newDeck";

   
}
}
.dashboard_container-header{
    grid-area:header;

    background:radial-gradient(
        circle at var(--gradient-x,50%) var(--gradient-y,50%),
        var(--dark-bg-color),
        var(--primary-color)
    );
    transition: background 0.6s cubic-bezier(0.4,0,0.2,1);
}
.dashboard_container-game{
    grid-area:game;
}
.dashboard_container-public{
    grid-area:public;
    overflow: hidden;
    border: 1px solid black;
    border-radius:15px;
    box-shadow: 0 0 5px black;

}
.dashboard_container-newDeck{
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    grid-area:newDeck;

}
.dashboard_container-sub-lowerBlock{
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    grid-area:lowerBlock;
}
.dashboard_container-sub-upperBlock{
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    grid-area:upperBlock;
}

.public_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax( 15rem,2fr));

    justify-content: center;
    gap:5px;
}

.deck_card-container{
    border-radius:15px;
}





.full_deck{
    display: grid;
    grid-template-columns: .25fr 1.50fr .50fr .50fr .25fr ;
    grid-template-rows: 10rem 30rem 15rem ;
    grid-template-areas:
    ". container container stats ."
    ". container container preview . "
    ". token token preview . "
    ;
    gap: .5rem;
    
}
.full_deck > div{
    border:1px solid black;
    border-radius:1rem;
    box-shadow: 0 0 .3rem var(--light-bg-color);
    overflow:hidden;
}
.deck_container{
    grid-area:container;
    display:grid;
    grid-template-columns:1fr .25fr;
    grid-template-rows: .20fr 3.80fr ;
    grid-template-areas:
    "header sort"
    "list list"
    ;
    gap:.4rem;
}
.deck_container > *{
    background:var(--dark-bg-color);
    border-radius: .5rem;
    box-shadow: 0 0 .3rem var(--light-bg-color);
}
.deck_container-preview{
    grid-area:preview;
}
.deck_container-token{
    grid-area:token;


}
.tokens_container{
        display: flex;
    width: 100%;
}
.deck_container-stats{
    grid-area:stats;
}
.deck_header{
    grid-area:header;
}
.sort_controls{
    grid-area:sort;
}

.list{
    grid-area:list;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(10rem,1fr));
    grid-template-rows:auto;
    gap:.3rem;
    justify-content: center;
    grid-template-areas:
    "creature instant"
    "creature sorcery"
    "artifact enchantment"
    "planeswalker . "
    " land land"
    ;
}
.creature{
    grid-area:creature;
}
.artifact{
    grid-area:artifact;
}
.enchantment{
    grid-area:enchantment;
}
.planeswalker{
    grid-area:planeswalker;
}
.instant{
    grid-area:instant;
}
.sorcery{
    grid-area:sorcery;
}
.land{
    grid-area:land;
}
.sort_order{
    border:1px solid var(--light-bg-color);
    border-radius: 1rem;
    justify-items: center;
    
}
.AllCards{
display: flex;
}

.create_Deck{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 4fr 4fr 4fr 2fr;
    grid-template-areas:
    ". header ."
    ". name ."
    ". format ."
    ". commander ."
    ". submit .";

    gap:.5rem;
    background:var(--med-bg-color);

}
.create_Deck > * {
    border:1px solid white;
    display: flex;
}
.create_DeckHeader{
    grid-area:header;
}

.create_DeckName{
    grid-area:name;
}

.create_DeckFormat{
    grid-area:format;
}
.create_DeckCommander{
    grid-area:commander;
}
.create_DeckButton{
    grid-area:submit;
}
.player{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows:1fr 1fr
}
 */
