.App{
    height: max(150vh,100%);
    width: 100%;
    display: grid;   
    grid-template-areas: 
    " a "
    " b "
    " c "
    " d "
    ;

    }
    
.dashboard{
    width: 100%;
    display:grid;
    grid-template-areas: 
    "hero"
    "public";
}

.dashboard_container{
    grid-area: hero;
}
.dashboard_container-Public{
    grid-area: public;
}
.navigation{
    width: 100%;
    grid-area:a;
}
.footer{
    grid-area:d;
    width: 100%;   

}
.public{
    width: 100%;   
    display:grid;
    grid-template-areas: 
    "publicA"
    "publicB";

}
.public_header{
    grid-area: publicA;
}
.public_container{
    grid-area:publicB;
}
