.App{
    height: 100%;
    width: 100%;
    display: grid;   
    grid-template-areas: 
    " a "
    " b "
    " c "
    " d "
    ;

    }
    
.dashboard{
    width: 100%;
    display:grid;
    grid-area:b;

    }
.navigation{
    width: 100%;
    grid-area:a;
}
.public{
    width: 100%;   
    grid-area:c;
}
.footer{
    grid-area:d;
    width: 100%;   

}
