.Login{
    background: var(--dark-bg-color);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.Login_Form{
    flex-direction: space-around;
    
}
.Login_Form-Button{
    padding: 15px 30px;
    border: none;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
    margin: 5px;
}
.Login_Form-Button:hover{
    border:2px solid var(--light-bg-color);
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.Login_Form-Input{
    background: var(--med-bg-color);
    height: 25px;
    color: var(--text-color);
    border:none;
}