.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login_container{
    display: flex;
    height: 50%;
    width: 40%;
    background: var(--light-bg-color);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login_header{
    text-transform: uppercase;
}
.login_button{
    padding: 15px 5px;
    color: white;
    background: var(--med-bg-color);
}