.My_Decks-Container{
    background:var(--med-bg-color);
}
.My_Decks-CreateNewButton{
    display: flex;
    background: var(--dark-bg-color);
    color:var(--text-color);
    border-radius: 50%;
    height:25px;
    width:25px;
    overflow: hidden;
    justify-self: right;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.My_Decks-list{
    display: flex;
}