.public{
    background-color: var(--dark-bg-color);
    display: flex;
    height: 100vh;
}
.public_container-sub{
    height: 250px;
    width: 250px;
    background: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--dark-bg-color);
    box-shadow: 0 0 5px var(--light-bg-color);
    margin: 5px;
}