.public-deck{
    background-color: var(--light-bg-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}