
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: transparent;
  overflow-x: hidden;
  text-decoration: none;
  border:none;

/* // Color Variables */
--dark-bg-color : #13262F;
--med-bg-color: #264b4f;
--light-bg-color: #3e78b2;
--primary-color: #004ba8;
--text-color:#ccdbe1;
--is-active:1;

font-family: "Spline Sans", sans-serif;

}
main{
  overflow: hidden;
}

#root{
  width: 100%;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
}
.card{
  border-radius:10px;
  display: block;
}

.buttons{
  padding: 10px 5px;
  background: var(--med-bg-color);

}
.buttons:hover{
  background: var(--dark-bg-color);
}

.inputs{
  padding: 15px 5px; 
  background: var(--dark-bg-color);
  
}
.links{
  color: var(--text-color);
  padding: 0 5px 0  0;
  height: 100%;
}
.links:hover{
  background:var(--primary-color)

}
.container{
   height: max(100%,100vh);
}
.search_input{
  padding: 15px 50px;
  border-radius: 10px;
}

.inactive{
  opacity: 0.5;
  filter: grayscale(100%);
} 

/* 

------======++++ CLASSNAMES   ++++++=======-------


header,
inputs,
list,
listItem,
buttons,
links,
forms,
cancel,
submit,
spans,
img,
loading,
loading_error,
loading_notFound,
card,
button-close,



create_Deck,
create_Deck-header,
create_Deck-container,
create_Deck-label,
create_Deck-input,
create_Deck-list,
create_Deck-button,
create_Deck-link,
create_Deck-list-Suggestions-list,
create_Deck-list-Suggestions-listItem,
create_Deck-dropdown,
create_Deck-Commander-container,


dashboard,
dashboard_container,
dashboard_container-Public,
dashboard_header,


dice,
dice_container,
dice_button,
dice_button-four,
dice_button-six,
dice_button-eight,
dice_button-ten,
dice_button-twelve,
dice_button-twenty,
dice_button-hundred,
dice_button-roll,
dice_button-reset,
dice_span,
dice_span-total,
dice_span-number,
dice_span-die,
dice_link,

dropdown,
dropdown_container,
dropdown_container-sub,
dropdown_toggle,
dropdown_list,
dropdown_listItem,


login,
login_container,
login_container-sub,
login_input,
login_input-forgot,
login_input-username,
login_input-password,
login_header,
login_header-forgot,
login_form,
login_form-forgot,
login_button,
login_button-cancel,
login_button-submit,
login_button-forgot,
login_span,
login_span-forgot

my_Deck,
my_Deck-list,
my_Deck-container,
my_Deck-container-sub,
my_Deck-deckart,
my_Deck-format,
my_Deck-commander,
My_Deck-cardCount,
my_Deck-button,
my_Deck-delete,
my_Deck-header,
my_Deck-header-sub,
my_Deck-informationBlock,
my_Deck-informationBlock-sub,
my_Deck-link,
my_Deck-link-new,
my_Deck-toSpecificDeck,

player,
player_container,
player_header,
player_container-sub,
player_life,
player_life-plus,
player_life-minus,
player_poison,
player_poison-plus,
player_poison-minus,
player_input,
player_list,
player_listItem,
player_label,
player_link,

public,
public_container,
public_container-sub,
public_deck,
public_deck-name,
public_deck-owner,
public_deck-format,
public_deck-commander,
public_deck-count,
public_link,

register,
register_container,
register_form,
register_username,
register_password,


deck,
deck_container,
deck_container-sub,
deck_header,
deck_addCard-header,
deck_addCard-link,
deck_link,
deck_container-ownerCheck,
deck_title,
deck_desc,
deck_list,
deck_listItem,
deck_card,
deck_card-button,
deck_card-name,
deck_card-count,
deck_card-colorId,
deck_card-img,
deck_card-img-container,
deck_container-color,
deck_card-color-circle,
deck_button,
deck_button-delete-deck,
deck_button-detele-card,


card_detail,
card_detail-container,
card_detail-updateArt,
card_detail-container-sub,
card_detail-img,
card_detail-none,
card_detail-imageList,
card_detail-oracle,
card_detail-name,

footer,
footer_container,
footer_list,
footer_span,

life_counter,
life_counter-container,
life_counter-player,
life_counter-player-count,
life_counter-player-countsub,
life_counter-header,
life_counter-player-setLife

navigation,
navigation_container, 
navigation_link,
navigation_button,

search,
search_container,
search_form
search_label,
search_input,
search_input-checkmark,
search_input-text,
search_button,
search_list,
search_listItem,
search_header,
search_container-sub,
search_container-card,
search_card,
search_card-img,
search_card-name,
search_card-oracle,
search_card-selected,
search_card-selected-name,
search_card-selected-indeck,
search_card-selected-button,
search_public,
search_link,





*/