* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
}
:root {

  outline-color: transparent;
  text-decoration: none;
  border: none;
  color: var(--text-color);

  color-scheme: light;
  
    --dark:#004ba8;
    --accent:#ffffff;
    --light:#f0f4f8;
   --text-color:#060c2f;
  --is-active: 1;

  font-family: "Spline Sans", sans-serif;
}
@media (prefers-color-scheme: dark){
  :root {
    color-scheme:dark;
    --dark:#060c2f;
    --accent:#3e78b2;
    --light:#f0f4f8;
    --text-color:#ccdbe1;
  }
}

html[data-theme="dark"]{
    --dark:#060c2f;
    --accent:#3e78b2;
    --light:#f0f4f8;
    --text-color:#ccdbe1;
}
html[data-theme="light"]{

    --dark:#004ba8;
    --accent:#ffffff;
    --light:#f0f4f8;
    --text-color:#060c2f;
}

html,body{
  overflow-x: hidden;
  overflow-y: auto;
}


.gradient {
  height: auto;
  background: radial-gradient(
    circle at var(--gradient-x, 50%) var(--gradient-y, 50%),
    var(--dark),
    var(--accent)
  );
  transition: background 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
#root{
  display:block;
  height: 100vh;
  width: 100vw;
}
.App{
  display: block;
  height: 100%;
  width: 100%;
}
.phasing-text {
  min-height: 1.5rem;
  display: flex;
  transition: opacity 0.5s ease;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: default;
  caret-color: transparent;
  overflow: hidden;
}
.phasing-text.visible {
  opacity: 1;
}
.phasing-text.hidden {
  opacity: 0;
}
.symbols {
  height: 3.75rem ;
  width: 3.75rem ;
  opacity: 50%;
  cursor: default;
  caret-color: transparent;
}
.buttons {
  background: transparent;
  color: var(--text-color);
  border: 1px solid white;
  display: flex;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}
.sort_controls,.control_group {
  display: flex;
  width: 100%;
}
.card {
  width: 2.5in !important;
  height: 3.5in !important;
  /* max-width: 90vw; */
  /* aspect-ratio: 63/88; dimensions for a standard mtg card */
  border-radius: 4.75% / 3.5%;
}
.inactive{
  background-color: rgba(155,155,155,0.6);
  color: rgba(155,155,155,0.6);
  opacity: 50%;
}